.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  padding: 0 10px;
  color: #aaaaaa;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}

.header span:nth-child(1) {
  text-align: left;
}

.header span:nth-child(2) {
  text-align: right;
}

.header span:nth-child(3) {
  text-align: right;
}

.asks {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  min-height: 264px; /* 11 levels * 24px height */
  justify-content: flex-end;
}

.bids {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  min-height: 264px; /* 11 levels * 24px height */
  justify-content: flex-start;
}

.rowAsk,
.rowBid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  padding: 0 10px;
  height: 24px;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  font-variant-numeric: lining-nums tabular-nums;
  overflow: hidden;
  align-items: center;
}

.backgroundBarAsk {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #ed70881a;
  pointer-events: none;
  z-index: 1;
}

.backgroundBarBid {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #1fa67d1a;
  pointer-events: none;
  z-index: 1;
}

.priceAsk {
  color: #ed7088;
  position: relative;
  z-index: 2;
  text-align: left;
}
.priceBid {
  color: #1fa67d;
  position: relative;
  z-index: 2;
  text-align: left;
}
.size {
  color: #cbd3e1;
  position: relative;
  z-index: 2;
  text-align: right;
}
.total {
  color: #8b93a7;
  position: relative;
  z-index: 2;
  text-align: right;
}

.mid {
  padding: 0 10px;
  height: 36px;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  font-variant-numeric: lining-nums tabular-nums;
  text-align: left;
  display: flex;
  align-items: center;
}

.lastTradeSell {
  color: #ed7088;
}

.lastTradeBuy {
  color: #1fa67d;
}
