body {
  min-height: 100vh;
  background-color: #0f1114;
  color: #cbd3e1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.main-content {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  width: 100%;
}
